.qrCodeTicket {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.buttonQrCode {
  border-radius: 28px !important;
  background-color: #f5a624 !important;
  margin-left: 2%;
  font-weight: 700;
  border-color: #f5a624 !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  font-size: 18px !important;
  border: 0px solid #4a4a4a !important;
  color: white;
  border-width: 0px;
}
.buttonQrCode:hover {
  background-color: #555 !important;
  color: #f5a624 !important;
  border-color: #f5a624 !important ;
}
