.homepage .qr {
  border: none;
}

.homepage .titleQR {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 5%;
}

.homepage .buttonPremium {
  border-radius: 28px !important;
  background-color: #f5a624 !important;
  margin-left: 2%;
  border-color: #f5a624 !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  font-size: 15px !important;

  color: white;
  border-width: 0px;
}
.homepage .buttonPremium:hover {
  background-color: #fcba03 !important;
  color: white !important;
  border-color: yellow !important;
}
.homepage .qrSub {
  margin-top: -15px;
  text-align: center;
  font-size: 15px;
}
