.personnel {
  background: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: auto;
  border-radius: 28px;
  border: none;
  color: #555;

  padding: 30px 70px;
}

.personnel .button {
  border-radius: 28px !important;
  background-color: #f5a624 !important;
  margin-left: 2%;
  border-color: #f5a624 !important;
  padding-top: 1% !important;
  padding-bottom: 1% !important;
  font-size: 12px !important;
  border: 0px solid #4a4a4a !important;
  color: white;
  border-width: 0px;
}
.personnel .button:hover {
  background-color: #555 !important;
  color: #f5a624 !important;
  border-color: #f5a624 !important ;
}
.personnel .titleWaiter {
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5%;
}
.personnel .linkButton {
  text-decoration: none !important;
}
.personnel .affiliation {
  text-align: center;
  margin-bottom: 10%;
}

.personnel .demandeAffiliation {
  margin-top: 5%;
  margin-bottom: 25px;
  color: #f4a521;
  font-size: 22px;
  font-weight: bold;
}
.personnel .infoAffi {
  font-weight: bold;
}
.personnel .colAffiliation {
  text-align: center;
}

.personnel .inputAffi {
  border-radius: 28px;
  border-width: 1px;
  border-color: #9c9c9c14;
  margin-bottom: 6%;
  padding: 1%;

  box-shadow: 1px 1px 1px #999;
}
.personnel .title-container {
  text-align: center;
  color: #555;
}
.personnel .title-container:hover {
  color: #f5a624;
}
.personnel .articles {
  text-align: center;
}
.personnel .crewStyle {
  margin-bottom: 5%;
}
.personnel .serveurDiv {
  border-radius: 28px;
  margin: 3%;
  margin-left: 10%;
  padding: 10%;
}
.personnel .serveurP {
  margin-left: 10%;
}
